body {
    margin: 0;
    font-family: Arial;
}

#buttonContainer {
    text-align: center;
}

button {

}

#correctVaultColor {
    background-color: #004600;
    padding: 50px;
    display: block;
    margin: 0 auto;
    width: 0;
}

#wrongVaultColor {
    background-color: #460000;
    padding: 50px;
    display: block;
    margin: 0 auto;
    width: 0;
}